
<div class="container mt-5">
  <h1 class="text-center">Add Developers to Project</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
            <%= form_for @project, url: add_developer_project_path(@project), method: :patch do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            
            <div class="form-group text-center">
              <%= f.submit 'Add Developers', class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
          <%= link_to 'Back to Projects', projects_path, class: "btn btn-secondary btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
